/teoria/exemploArrays/nbproject/private/
/teoria/libreriaPedirDatos/nbproject/private/
/teoria/libreriaPedirDatos/dist/
/teoria/libreriaPedirDatos/build/
/teoria/exemploArrays/build/
/teoria/experimentosMios/nbproject/private/
/teoria/exArray_18ene/nbproject/private/
/teoria/experimentosMios/build/
/teoria/exemploString/nbproject/private/
/teoria/exemploString/build/
/teoria/boletin21/nbproject/private/
/teoria/boletin21/build/
/teoria/boletin21_2/nbproject/private/
/teoria/boletin21_2/build/
/teoria/exemploMatriz/nbproject/private/
/teoria/exemploMatriz/build/
/boletines/boletines21_4/nbproject/private/
/boletines/boletines21_4/build/
/boletines/boletin22/nbproject/private/
/boletines/boletin22/build/
/boletines/boletin21/build/
/boletines/boletin21_2,3/nbproject/private/
/boletines/boletin21_2,3/build/
